body{
    background: rgb(27, 27, 27);
    color: rgb(211, 211, 211);
    font-size: 20px;
}

.cv{
    border-bottom: 1px solid rgb(211, 211, 211);
}

.cv:hover, .tab:hover, table:hover, .resume:hover, .scill:hover, ul:hover{
    border-left: 4px solid rgb(211, 211, 211);
}

.tab{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.tab > div{
    height: 60px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

table tr td, th{
    border-bottom: 1px solid rgb(211, 211, 211);
    height: 40px;
}

table tr:last-child td{
    border-bottom: none;
}

table tr th:first-child{
    text-align: right;
}

.resume{
    padding: 10px 0;
}

.resume h1{
    border-top: 1px solid rgb(211, 211, 211);
}

.resume p{
    font-style: italic;
}

.scill{
    font-style: italic;
}